@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0px auto;
}

.title {
  font-family: 'KoddiUDOnGothic-Regular';
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.gametitle{
  font-family: 'KoddiUDOnGothic-Regular';
  color: #fff;
  text-align: center;

  position: relative;
  bottom:12rem;
}
.gametitle h3{
  font-size: 1.5rem;
}
.gametitle p{
  font-weight: bold;
}

#bestgame {
  width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

.tranding-slide .tranding-slide-img img  {
  width: 25rem;
  height: 32.5rem;
  border-radius: 2rem;
  overflow: hidden;
}

#bestgame .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  left: 50%;
  transform: translateX(-50%);
}

.tranding-slide {
  width:25rem ;
  height: 32.5rem;
  aspect-ratio: 400/520 ;
  position: relative;
  box-shadow: 0px 0px 30px black;
  border-radius: 2rem;
}
.tranding-slide .tranding-slide-img img {
  width:25rem ;
  height: 32.5rem;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
#bestgame .tranding-slider {
  height: 45rem;
  width: 61.7rem;
}

@media (max-width:1440px) {
  #bestgame {
    padding: 7rem 0;
  }
}
@media (max-width:1200px){
  #bestgame{
    width: 100%;
  }
}
@media (max-width:500px) {
  #bestgame .tranding-slider {
    height: 45rem;
  }
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}
@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}