@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0px auto;
}

#bestgame {
  margin: 0 auto;
  padding: 4rem 0;
}

#bestgame .tranding-slider {
  height: 45rem;
  width: 54.3rem;
}



.tranding-slide .tranding-slide-img img  {
  width: 25rem;
  height: 32.5rem;
  border-radius: 2rem;
  overflow: hidden;
}
.tranding-slide .tranding-slide-img{
  width: 25rem;
  height: 32.5rem;
  border-radius: 2rem;
}
.swiper-slide{
  width: 25rem;
  height: 32.5rem;
  border-radius: 2rem;
}

#bestgame .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  left: 50%;
  transform: translateX(-50%);
  /* overflow: unset; */
}

.tranding-slide {
  /* display: none; */

  width:25rem ;
  height: 32.5rem;
  aspect-ratio: 400/520 ;
  position: relative;
  /* box-shadow: 0px 0px 30px black; */
  border-radius: 2rem;
}
/* .swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
  display: block;
} */
.swiper-slide-active{
  box-shadow: 0px 0px 30px black;
}

.tranding-slide .tranding-slide-img img {
  width:25rem ;
  height: 32.5rem;
  aspect-ratio: 400/520 ;
}

.slide-bottom {
  width: 700px;
  margin: 0 auto;
  position: relative;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-family: 'KoddiUDOnGothic-Regular';
  font-size: 4rem;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.gametitle{
  font-family: 'KoddiUDOnGothic-Regular';
  color: #fff;
  text-align: center;
}
.gametitle h3{
  font-size: 1.5rem;
}
.gametitle p{
  font-weight: bold;
}

.button-prev, .button-next {
  z-index: 10;
  cursor: pointer;
}

@media (max-width:1440px) {
  #bestgame {
    padding: 7rem 0;
  }
}
@media (max-width:1200px){
  #bestgame{
    width: 100%;
  }
}
@media (max-width:500px) {
  #bestgame .tranding-slider {
    height: 45rem;
  }
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}